# PYTHON DATA TYPES

This section will cover the different data types we have in python, which includes ...
- Integer
    - This is a round figure digit, example includes 2, 5, 100, 1000, 65.
- Float
    - This is a decimal digit, example includes 3.5, 100.1, 0.5.
- String
    - This are text or combination of alphabets,numbers,special characters.
- Boolean
    - This are either True or False.

This section will also cover how to create python variables, how to assign different values to the variables and from there, we will cover how to convert from one data types to the other.

In [1]:
# creating a variable and assigning a value to it

x = 3

In [4]:
print(x)

3

In [9]:
name = "mayowa"

In [10]:
print(name)

mayowa

In [11]:
first_name = "febisola"

In [12]:
print(first_name)

febisola

In [13]:
has_car = True

In [14]:
print(has_car)

True

In [15]:
height = 5.3

In [16]:
print(height)

5.3

### Arithmetic Operators in Python

We have different arithmetic operators in python which includes the following..
- Addition ( + )
    - Used to add numbers together
- Substraction ( - )
    - Used to subtract 
- Multiplication ( * )
    - Used to multiply
- Exponential ( ** )
    - Raise to power
- Division ( / )
    - Used to divide, this type of division gives decimal result
- Floor Division ( // )
    - This type of division gives a round figue result

In [18]:
x = 2

In [19]:
y = 3

In [20]:
#Addition
print(x + y)

5

In [21]:
a = 10

In [22]:
b = 5

In [23]:
#subtraction
print(a - b)

5

In [24]:
m = 2

In [25]:
n = 5

In [26]:
# multiplication
print(m * n )

10

In [27]:
k = 2

In [28]:
#Exponential
print(k**3)

8

In [31]:
student_1 = 20

In [32]:
student_2 = 10

In [33]:
#Division
print(student_1 / student_2)

2.0

In [34]:
#Floor Division
print(student_1 // student_2)

2