# PYTHON DATA TYPES

This section will cover the different data types we have in python, which includes ...
- Integer
    - This is a round figure digit, example includes 2, 5, 100, 1000, 65.
- Float
    - This is a decimal digit, example includes 3.5, 100.1, 0.5.
- String
    - This are text or combination of alphabets,numbers,special characters.
- Boolean
    - This are either True or False.

This section will also cover how to create python variables, how to assign different values to the variables and from there, we will cover how to convert from one data types to the other.

In [1]:
# creating a variable and assigning a value to it

x = 3

In [4]:
print(x)

3

In [9]:
name = "mayowa"

In [10]:
print(name)

mayowa

In [11]:
first_name = "febisola"

In [12]:
print(first_name)

febisola

In [13]:
has_car = True

In [14]:
print(has_car)

True

In [15]:
height = 5.3

In [16]:
print(height)

5.3

### Arithmetic Operators in Python

We have different arithmetic operators in python which includes the following..
- Addition ( + )
    - Used to add numbers together
- Substraction ( - )
    - Used to subtract 
- Multiplication ( * )
    - Used to multiply
- Exponential ( ** )
    - Raise to power
- Division ( / )
    - Used to divide, this type of division gives decimal result
- Floor Division ( // )
    - These type of division gives a round figue result
- Modulo ( % )
    - This is used to get the remainder of a division

In [18]:
x = 2

In [19]:
y = 3

In [20]:
#Addition
print(x + y)

5

In [21]:
a = 10

In [22]:
b = 5

In [23]:
#subtraction
print(a - b)

5

In [24]:
m = 2

In [25]:
n = 5

In [26]:
# multiplication
print(m * n )

10

In [27]:
k = 2

In [28]:
#Exponential
print(k**3)

8

In [31]:
student_1 = 20

In [32]:
student_2 = 10

In [33]:
#Division
print(student_1 / student_2)

2.0

In [34]:
#Floor Division
print(student_1 // student_2)

2

In [38]:
#Modulo (percentage sign % ), modulo is mostly used to check for even numbers and odd numbers
print(4 % 2)

0

In [30]:
#Modulo
print(3 % 2)

1

### Checking the data types of a variable

In [1]:
city = "lagos"

In [3]:
print(type(city))

<class 'str'>

In [4]:
age = 29

In [5]:
print(type(age))

<class 'int'>

In [6]:
price = 20.5

In [8]:
print(type(price))

<class 'float'>

In [9]:
has_job = False

In [10]:
print(type(has_job))

<class 'bool'>

### Rounding decimal to nearest whole number

In [17]:
x = 20.6

In [19]:
# rounding to nearest digit
print(round(x))

21

In [20]:
first_number = 4
second_number = 2

In [27]:
result = round(first_number / second_number)

In [28]:
print(result)

2

### Data types conversion

In [49]:
x = "25"

In [50]:
print(x)

25

In [51]:
print(type(x))

<class 'str'>

In [47]:
convert_x = int(x)

In [52]:
print(type(convert_x))

<class 'int'>

In [58]:
y = 5

In [59]:
print(type(y))

<class 'int'>

In [60]:
convert_y = float(y)

In [63]:
print(convert_y)

5.0

In [62]:
print(type(convert_y))

<class 'float'>

In [64]:
m = 5.7

In [65]:
convert_m = int(m)

In [66]:
print(convert_m)

5

In [67]:
k = "3.5"

In [69]:
convert_k = int(float(k))

In [70]:
print(convert_k)

3

### String concatenation

The process where by we join two or more strings together is called Concatenation in python

In [82]:
first_name = "cappy "
last_name = "mayor"

In [83]:
concat = first_name + last_name

In [84]:
print(concat)

cappy mayor

In [8]:
x = "2"
y = "2"

In [9]:
print(x + y)

22

### Formatted string in python

In [85]:
my_age = 15

In [86]:
print(my_age)

15

In [91]:
#using a formatted string
print(f"my age is {my_age} years old")

my age is 15 years old

### Lower and Upper case function

In [1]:
name = "FebiSOla"

In [2]:
print(name.lower())

febisola

In [3]:
print(name.upper())

FEBISOLA

### Python random function

Reference: https://www.w3schools.com/python/ref_random_randint.asp

In [2]:
import random

In [29]:
#Generate random number between 1 and 10
random_number = random.randint(1, 10)

In [30]:
print(random_number)

4

In [31]:
random_number = random.randint(1, 10)

In [32]:
print(random_number)

5

### Python user input

This is useful when we want user to supply some data and use those data behind the scene

In [44]:
first_name = input("Please in your first name:       ")

Please in your first name:       febi

In [45]:
print(first_name)

febi

In [46]:
number = input("put in any number:    ")

put in any number:    7

In [47]:
print(number)

7

In [48]:
print(type(number))

<class 'str'>

In [49]:
number = int(input("put in any number:    "))

put in any number:    7

In [50]:
print(number)

7

In [51]:
print(type(number))

<class 'int'>