# PYTHON DATA STRUCTURES

We have 4 different data structures in python, this data strucures are more like a collection which contains different data. When these data are in the collections which are known as data structures, we can use different methods to access the data inside the collections known as data structures. They include......

- Set
- Tuple
- Dictionary
- List

## SET

Set data structure is mainly used for de-duplicating, meaning it is used to erase duplicates. Also, to identify a SET, it starts with the open curly braces and ends with the enclose curly braces { }.

In [1]:
akinyele_house = {36, 36, 35, 28, 27, 3}

In [2]:
#The output shows one of the 36 above has been removed since they are duplicate

print(akinyele_house)

{3, 35, 36, 27, 28}

In [3]:
#checking the type of the variable above, we can see it shows its of the class Set.
print(type(akinyele_house))

<class 'set'>

## TUPLE

Tuple data structures are immutable, meaning you cannot append(add) anything inside them or remove anything from it, which makes it safe from being alter. They are open and enclose with parenthesis ( )

In [4]:
random_data = (2, 4, "mayor", 7.9)

In [5]:
print(random_data)

(2, 4, 'mayor', 7.9)

In [6]:
print(type(random_data))

<class 'tuple'>

## DICTIONARY

Dictionary are important data structure used to map items together in form of a key-value pair. They are open and closed by curyly braces { } also, except that the items inside a dictionary are key:value pair in nature.

In [7]:
akinyele_house = {"omoba":36, "mayowa":36, "febisola":35, "ebun":28, "funbi":24, "zane":3}

In [8]:
print(akinyele_house)

{'omoba': 36, 'mayowa': 36, 'febisola': 35, 'ebun': 28, 'funbi': 24, 'zane': 3}

In [9]:
print(type(akinyele_house))

<class 'dict'>

In [ ]:
people = {"mayowa":"idanre", "febisola":"akure"}

## Accessing dictionary values

In [162]:
new_dict = {"mayowa": 21, "febisola": 25}

In [168]:
print(new_dict["febisola"])

25

In [169]:
print(new_dict["febisolaa"])

KeyError: 'febisolaa'

We got the KeyError above because there is no key called febisolaa

In [170]:
new_dict_1 = {"mayowa": 21, "febisola": 25, "funbi": 35}

In [172]:
print(new_dict_1.keys())

dict_keys(['mayowa', 'febisola', 'funbi'])

In [173]:
print(new_dict_1.values())

dict_values([21, 25, 35])

In [181]:
febi_future_age = new_dict_1["febisola"] + 10

In [182]:
print(febi_future_age)

35

## LIST

List are the most important python data structure for data individuals, its identified by its open and enclosed square bracket [ ]. List are mutable, meaning they can be altered , you can remove and add an element.

In [10]:
# List

new_list = [2, 4, 5.7, "mayor", True, False]

In [11]:
print(new_list)

[2, 4, 5.7, 'mayor', True, False]

In [12]:
print(type(new_list))

<class 'list'>

### Appending new element into a list

In [13]:
new_list = ["mayowa", "ebun", "omoba", "febisola", "funbi"]

In [14]:
print(new_list)

['mayowa', 'ebun', 'omoba', 'febisola', 'funbi']

In [15]:
new_list.append("zane")

In [16]:
print(new_list)

['mayowa', 'ebun', 'omoba', 'febisola', 'funbi', 'zane']

In [17]:
new_list.remove("zane")

In [18]:
print(new_list)

['mayowa', 'ebun', 'omoba', 'febisola', 'funbi']

In [31]:
# Note, you can only add one element at a time, adding 2 will throw an error/exception
new_list.append("zane", "dieko")

TypeError: append() takes exactly one argument (2 given)

In [20]:
#Note, you can only remove one element at a time , removing 2 will throw an error/exception
new_list.remove("mayowa", "ebun")

TypeError: remove() takes exactly one argument (2 given)

### Converting tuple to list and list back to tuple after appending

In [21]:
new_tuple = (2, 3, 4, 5)

In [30]:
#Note, you cannot alter what is in a tuple but you can alter what we have in a list

new_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
convert_tuple_to_list = list(new_tuple)

In [24]:
print(convert_tuple_to_list)

[2, 3, 4, 5]

In [25]:
convert_tuple_to_list.append(6)

In [26]:
print(convert_tuple_to_list)

[2, 3, 4, 5, 6]

In [27]:
convert_list_to_tuple = tuple(convert_tuple_to_list)

In [28]:
print(convert_list_to_tuple)

(2, 3, 4, 5, 6)

### Python indexing

Human starts reading numbers from 1, however, python starts from 0

Human: A U T O M O B I L E
       1 2 3 4 5 6 7 8 9 10
       
Python: A U T O M O B I L E
        0 1 2 3 4 5 6 7 8 9

In [32]:
car = "Benz"

In [33]:
z_index = car[3]

In [34]:
print(z_index)

z

In [143]:
# to remove the last item, we use -1
print(car[-1])

z

In [35]:
print(car[0])

B

In [36]:
print(car[1])

e

In [39]:
#slicing

print(car[1:4])

enz

In [41]:
print(car[1:])

enz

In [40]:
print(car[0:3])

Ben

In [42]:
print(car[:3])

Ben

### Counting total characters in a string or total element in a list using len() function

In [44]:
# The len function only works for strings data types.
full_name = "mayor"

In [45]:
total_alphabet = len(full_name)

In [46]:
print(total_alphabet)

5

In [47]:
numbers = [2, 1, 4, 5]

In [48]:
total_numbers = len(numbers)

In [49]:
print(total_numbers)

4

In [3]:
full_name = "mayowa akinyele"

In [4]:
print(len(full_name))

15

In [61]:
# When a list is inside another list, its called nested list
nested_list = [1, "febi", "mayowa", 3, [1, 2]]

In [62]:
print(len(nested_list))

5

In [50]:
age = 25

In [51]:
total_age = len(age)

TypeError: object of type 'int' has no len()

In [54]:
new_num = "100"

In [55]:
print(len(new_num))

3

In [52]:
height = 3.6

In [53]:
total_age = len(height)

TypeError: object of type 'float' has no len()

## Sorting in Python

In [1]:
numbers = [3, 7, 9, 2, 6, 0, 1, 8]

In [2]:
numbers.sort()

In [3]:
print(numbers)

[0, 1, 2, 3, 6, 7, 8, 9]

In [4]:
numbers.sort(reverse = True)

In [5]:
print(numbers)

[9, 8, 7, 6, 3, 2, 1, 0]

## Accessing an item from a nested list

In [131]:
nested_1 = [1, 2, [3, 4]]

In [133]:
print(nested_1[-1][-2])

3

In [134]:
nested_2 = [[1, 3], [10, 20]]

In [137]:
print(nested_2[0][-2])

1

In [138]:
nested_2 = [[1, 3], [10, 20], [2, [100, 200]]]

In [141]:
print(nested_2[-1][-1][0])

100

### Adding 2 or more list together

In [56]:
list_1 = [1, 2]
list_2 = [10, 20]

In [144]:
print(list_1 + list_2)

[1, 2, 10, 20]

### Empty list operation

In [145]:
empty_list = []

In [146]:
print(empty_list)

[]

In [147]:
print(type(empty_list))

<class 'list'>

In [148]:
empty_list.append(1)

In [149]:
empty_list.append(2)

In [150]:
empty_list.append(3)

In [151]:
print(empty_list)

[1, 2, 3]

### Re-assignment of elements in a list

In [152]:
x = [1, 2, 3]

In [153]:
x[0] = 10

In [154]:
print(x)

[10, 2, 3]

## Python range function

In [157]:
lst = range(10)

In [158]:
print(lst)

range(0, 10)

In [159]:
print(list(lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
lst_1 = range(5, 15)

In [161]:
print(list(lst_1))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## IN and NOT IN Operator

### IN

In [5]:
lst = [2, 4, 6, 7, "dele"]

In [6]:
print(10 in lst)

False

In [13]:
text = "we are looking for a data engineer"

In [9]:
print("analyst" in text)

False

In [10]:
print("engineer" in text)

True

In [14]:
print(" " in text)

True

### NOT IN

In [16]:
country = "Germany"

In [17]:
print("k" not in country)

True

In [18]:
grades = [23, 56, 34, 98]

In [19]:
print(23 not in grades)

False

### TODO Replace function, remove whitespace(strip), split, string methods(isupper,endswith, startswith)

https://www.w3schools.com/python/python_strings_methods.asp

https://www.w3schools.com/python/python_operators.asp

In [21]:
c = (2, 3, 4)

In [23]:
print(type(c))

<class 'tuple'>

In [24]:
list(c)

[2, 3, 4]

In [25]:
lst = [3, 5]

In [26]:
print(type(lst))

<class 'list'>

In [27]:
tuple(lst)

(3, 5)

### startswith and endswith function in python

In [1]:
name = "mayowa"

In [2]:
print(name.startswith("m"))

True

In [3]:
print(name.startswith("M"))

False

In [4]:
print(name.endswith("m"))

False

In [5]:
print(name.endswith("a"))

True